.footer{
  background-color: $color_gray_bg;
  .container {
    .footer_inner {
      padding: 30px 160px;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      @media screen and (max-width: 1680px) {
        padding: 30px 90px;
      }
      @media screen and (max-width: 1440px) {
        padding: 30px 60px;
      }
      @media screen and (max-width: 560px) {
        padding: 30px 30px;
      }
      .footer_adres {
        display:flex;
        width: 100%;
        padding-top:30px;
        border-top: 2px solid #E6E6F0;
        flex-flow: row wrap;
        @media screen and (max-width: 700px) {
          justify-content: center;
        }

        .footer_adres_onmap {
          display: flex;
          align-items: center;
          max-width: 300px;
          margin-bottom: 21px;
          
          @media screen and (max-width: 700px) {
            justify-content: center;
          }
          @media screen and (max-width: 470px) {
            flex-direction: column;
          }
          .adres {
            @include paragraf;
            color:$color_background_main_alt;
            margin-right: 10px;
          }
          .link {
            @include header_lang_uaruen;
            color: $color_active_regular;
            margin-left: 10px;
            text-transform: uppercase;
            text-decoration: none;
            @media screen and (max-width: 470px) {
              margin-top: 10px;
            }
          }
        }
        .footer_adres_fbtel {
          margin-top: 0px;
          align-items: center;
          display: flex;
          
          @media screen and (max-width: 700px) {
            // order: 3;
            justify-content: center;
          }
          @media screen and (max-width: 600px) {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
          }

          
          
          .fb_blue {
            margin-right: 10px;
            &:hover {
              cursor: pointer;
            }
            @media screen and (max-width: 600px) {
              margin-right: 0px;
              margin-bottom: 10px;
            }
          }
          .tel {
            @include h4_regular;
            white-space: nowrap;
            margin: 0 10px;
            color: #46466E;
            text-decoration: none;
          }
          .mail {
            @include h4_regular;
            color: $color_active_regular;
            margin-left: 10px;
            text-decoration: none;

            @media screen and (max-width: 600px) {
              margin-left: 0px;
              margin-top: 10px;
            }
          }
        }
        .footer_legal {
          display:flex;
          margin-left: auto;
          margin-right: 0px;
          
          @media screen and (max-width: 1410px) {
            flex: 1 5 auto;
          }
          @media screen and (max-width: 700px) {
            order: 3;
          }
          p {
            white-space: nowrap;
            color: #B3B3BA;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 0px;
            margin-left: auto;
            @media screen and (max-width: 950px) {
              margin-right: 0px;
              margin-left: auto;
            }
            @media screen and (max-width: 700px) {
              margin: 0px auto;
              margin-top: 30px;
              // text-align: center;
              // margin-left: auto;
            }

          }
        }
      }
    }
  }
}
.footer_box {
  flex: 1 1 950px;
    @media screen and (max-width: 760px) {
    flex: 1 1 auto;
  }
}
  .footer_point_gray {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }