.footer{
  background-color: $color_gray_bg;
  .container {
    .footer_inner {
      padding: 30px 160px;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      
      
      @media screen and (max-width: 1680px) {
        padding: 30px 90px;
      }
      @media screen and (max-width: 1440px) {
        padding: 30px 60px;
      }
      .footer_adres {
        display:flex;
        width: 100%;
        padding-top:30px;
        border-top: 2px solid #e92f17;
        flex-flow: row wrap;

        .footer_adres_onmap {
          display: flex;
          align-items: center;
          max-width: 300px;
          
          // @media screen and (max-width: 700px) {
          
          // }
          .adres {
            @include paragraf;
            color:$color_background_main_alt;
            
            margin-right: 10px;
          }
          .link {
            @include header_lang_uaruen;
            color: $color_active_regular;
            margin-left: 10px;
            text-transform: uppercase;
          }
        }
        .footer_adres_fbtel {
          margin-top: 0px;
          align-items: center;
          display: flex;
          
          @media screen and (max-width: 700px) {
            order: 1;
          }
          
          .fb_blue {
            margin-right: 10px;
            &:hover {
              cursor: pointer;
            }
          }
          .tel {
            @include h4_regular;
            margin: 0 10px;
            color: #46466E;
          }
          .mail {
            @include h4_regular;
            color: $color_active_regular;
            margin-left: 10px;
          }
        }
        .footer_legal {
          display:flex;
          margin-left: auto;
          margin-right: 0px;
          
          @media screen and (max-width: 1410px) {
            flex: 1 5 auto;
          }
         

          p {
            white-space: nowrap;
            color: #B3B3BA;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 0px;
            margin-left: auto;
            @media screen and (max-width: 950px) {
              margin-right: 0px;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
.footer_box {
  
    flex: 1 1 950px;
  @media screen and (max-width: 760px) {
    flex: 1 1 auto;
  }
 
}
