// ---resizing SVG -------//

// <svg width="350" height="200"
//     viewBox="0 0 180 180">
//   ...
// </svg>
.shadow {
  display: block;
  position: relative;
  width: 97.91%;
  height: 10px;
  background-color: #CACADB;
  margin: 0 auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  &::after {
  content: "";
  display: block;
  position: relative;
  top:10px;
  width: 97.91%;
  height: 10px;
  background-color: #E7E7F2;;
  margin: 0 auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 auto;
  }
}
.team {
  display: block;
  background-color: $basic_white;
  .team_start_undershadow {
    display: block;
    height: 60px;
    background-color: $basic_white;
  }
  .team_inner {
    background-color: inherit;
    margin: 0 160px;

    .team_card {
      display: flex;
      .portret{
        width: 60%; /* Занимает ширину родительского элемента */
        padding-top: 24%; /* Задает соотношение высоты к ширине */
        background: url(../../../images/team/portret.svg) center / cover no-repeat;
        }
        .team_content {
          padding: 0 0 0 30px;
          background-color: #EDEDF7;
          
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;


        .team_link {
          @include h3_caps-regular;
          color: $color_active_regular;
          position: relative;
          // margin-bottom: 5px;
          padding-top: 30px;
            &::after {
              // -----------
              padding-top: 30px;

              // синяя картинка должна быть         тут
              content: url(../../images/hero-cards/Arrow_blue.svg);
              position: absolute;
              top: 1.5px;
              width: 12px;
              height: 12px;
              transition: opacity 0.3s ease;
            }     
        }    
        .team_link:hover  {
              // --замена цвета сервисес ---------------------------------
              color: $color_accent;
        }
       // -------замена картинки стрелки на красную-------------
        .team_link:hover::after {
              content: url(../../images/hero-cards/Arrow_red.svg)
        }
        
        .team_title {
          @include hero-red-regular;
          background: $gradient_redtext_heroregular;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: left;
          padding-bottom: 30px;        


        }
        .team_subskribe {
          @include h4_regular;
          color: $color_gray_text;
          padding-bottom: 6px;
        }
        .team_state {
          @include text_style_400;
          font-size: 14px;
          line-height: 157.143%;
          color: $color_gray_text;
        }
      }
    }
  }
}
.blue_points {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $basic_white;
  padding: 30px 0;

  .blue_points_drei {
    display: flex;
    padding-bottom: 60px;

    .points { 
      display:flex;
      flex-direction: row;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: $color_active_regular;
      &:nth-child(n+2) {
        background-color: #b4dcf8;
        margin-left: 15px;
      }
    }
  }
}