.public {
background-color: $color_gray_bg;
  .container {
    .public_inner {
      background-color: $basic_white;
      padding: 30px 160px 0 160px;
      @media screen and (max-width: 1680px) {
        padding: 30px 90px 0 90px;
      }
      @media screen and (max-width: 1440px) {
        padding: 30px 60px 0 60px;
      }
      @media screen and (max-width: 380px) {
        padding: 30px 30px 0 30px;
      }
      .public_link {
        @include h3_caps-regular;
        color: $color_active_regular;
        position: relative;
        margin-bottom: 10px;
        padding-top: 30px;
        &::after {
          // -----------
          padding-top: 30px;

          // синяя картинка должна быть         тут
          content: url(../../images/hero-cards/Arrow_blue.svg);
          position: absolute;
          top: 1.5px;
          width: 12px;
          height: 12px;
          transition: opacity 0.3s ease;
        }
      }
      .public_link:hover {
        // --замена цвета сервисес ---------------------------------
        color: $color_accent;
      }
      // -------замена картинки стрелки на красную-------------
      .public_link:hover::after {
        content: url(../../images/hero-cards/Arrow_red.svg);
      }
      .public_title {
        @include hero-red-regular;
        background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
        padding-bottom: 30px;
      }
      .public_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // max-width: 1600px;
        // margin:0 auto;
        @media screen and (max-width: 920px) {
          justify-content: center;
         }

        .card {
          display: flex;
          flex-wrap: wrap;
          max-width: 648px;
          // min-width: 290px;
          flex: 1 1 250px;        
          &:not(:last-child) {
            margin-right: 30px;
          
            @media screen and (max-width: 900px) {
              &:not(:first-child) {
                margin-right: 0px;
              }
            }
          }

         
          .card_img {

            display: flex;
            height: 200px;
            flex: 1 1 300px;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
          }
          .card-img-top1 {
            background-image: url("../../../images/bottom_cards/1_bottom_cards.png");
          }
          .card-img-top2 {
            background-image: url("../../../images/bottom_cards/2Cover.png");
          }
          .card-img-top3 {
            background-image: url("../../../images/bottom_cards/3Cover.png");
          }

          
          .card-body {
            padding: 30px;
            background-color: $basic_white;

            .card-title {
              @include h4_regular;
              font-size: 16px;
              color: $color_active_regular;
              &:hover {
                color: $color_accent;
              }
            }
            .card-data {
              @include header_lang_uaruen;
              text-transform: uppercase;
              color: #B3B3BA;
              margin: 15px 0;
            }
            .line {
              width: 100%;
              background-color: #E6E6F0;
              height: 4px;
              margin-bottom: 15px;
            }
            .card-text {
                
              @include text_style_400;
              font-size: 14px;
              line-height: 157.143%;
              color: $paragraf_ul_ol_list;
            }
          }
        }
      }
    }
  }
}
