.firms_inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $basic_white;
  padding: 0 100px 0px 100px;
  @media screen and (max-width: 1680px) {
    padding: 0 50px 60px 50px;
  }
  @media screen and (max-width: 1440px) {
    padding: 0px 0px 60px 0px;
  }
  .points_trust {
    @include h3_caps-regular;
    color: #323264;
    margin: 0 auto 30px auto;
  }
  .firms_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // overflow: hidden;
    margin-top: 30px;
    border-radius: 14px;
    margin-top: 30px;
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
      .box {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 120px;
        flex: 1 1 350px;
        @media screen and (max-width: 1520px) {
          flex: 1 1 310px;
        }
        @media screen and (max-width: 1244px) {
          flex: 1 1 280px;
        }
        @media screen and (max-width: 1130px) {
          flex: 1 1 250px;
        }
        @media screen and (max-width: 750px) {
          flex: 1 1 380px;
          &:nth-child(1n+7) {
            display: none;
          }
        }
      }
    .hillel {
      background-color: #1C4280;
    }
    .wannabiz {
      background-color: #143646;
    }
    .tapgerine {
      background-color: #F48B30; 
    }
    .dlook {
      background-color:  #9E4DC3;
    }
    .arangear {
      background-color: #FD9339;
    }
    .adtelligent {
      background-color: #E2E2E4;
    }
    .clickky {
      background-color: #C71C36;
    }
    .leasing {
      background-color: #DCF3F9;
    }
    .infratec {
      background-color: #EAEAEA;
      }
    .city-park {
      background-color: #282240;
      }
    .artprint {
      background-color: #1D4568;
      }
    .ultimate {
      background-color: #000;
    }
  }
}