.hero {
  background-color: white;
  .container {
    background-color: $gradient_red;
    border-left: 2px solid  red;
    border-right: 2px solid  red;
    .hero_inner_cards {
      display: flex;
      flex-wrap: wrap;
      .card {
      max-width: 400px;
      background-color: lightcyan;
        .card_img {
          display: block;
          position:relative;
          max-width: 92px;
          height: 92px;
          border-radius: 24px ;
          background-color: var(--basic-white, #FFF);
          .img_content {
            position: absolute;
            top:14px;
            left:14px;
          }
        }
        .cards_title {
          @include hero-red-regular;
        }
        .cards_text {
          font-size:24px;
        }
    }
    }
      
  }
}
  