.hero {
  background-color: $basic_white;
  .container {
    background-color: $gradient_red;
    border-left: 2px solid  red;
    border-right: 2px solid  red;
    .hero_inner {
      display: block;
      padding: 0 160px 0 160px;
      background-color: transparent;
      
        .inner_cards_title {
          @include hero-red-regular;
          background: $gradient_redtext_heroregular;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: left;
        }
        .inner_servises {
          // синий цвет должен быть тут и после ховер - красный актив
          @include h3_caps-regular;
          color: $color_active_regular;
          position: relative;
          margin-bottom: 10px;
          &::after {
            // синяя картинка должна быть         тут
            content: url(../../images/hero-cards/Arrow_blue.svg);
            position: absolute;
            top: 1.5px;
            width: 12px;
            height: 12px;
            transition: opacity 0.3s ease;
          }     
        }    
          .inner_servises:hover,  {
            // --замена цвета сервисес ---------------------------------
            color: $color_accent;
          }
          // -------замена картинки стрелки на красную-------------
          .inner_servises:hover::after {
            content: url(../../images/hero-cards/Arrow_red.svg)
          }
      .hero_inner_cards {
      display: flex;
      flex-wrap: wrap;
      justify-items: left;
        .card {
          display: flex;
          flex-wrap: wrap;
          flex: 1 1 30%;
          background-color:rgb(235, 224, 224);
          margin: 60px 60px 0 0;
          &:nth-child(3) {
            margin-right: 0;
          }
          &:nth-child(6) {
            margin-right: 0;
          }
          .card_img {
            display: block;
            position:relative;
            width: 92px;
            height: 92px;
            border-radius: 24px ;
            background-color: var(--basic-white, #FFF);
            .img_content {
              position: absolute;
              top:14px;
              left:14px;
            }
          }
          .card_description{
            .cards_title {
              @include h3_caps-regular;
              color: $color_active_regular;
              margin: 30px 0 15px 0;
            }
            .cards_text {
              @include paragraf;
              color: $basic_white;
            }
          }
          
        }
      }
    }
  }
}
  