.hero_consis {
  
    .consist_inner {
      display:flex;
      max-width:  1380px;
      margin: 0px auto 60px;

      .consist_inner_menu {
        padding-right: 60px;
        flex: 1 1 17%;

        ul {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: flex-end;
          li {
            @include hero-red-regular;
            white-space: nowrap;  
              &:not(:last-child) {
              margin-bottom:30px;
            }
            .inner_menu_secondary {
              text-decoration: none;
              color: $color_gray_text;
              &:hover {
                color: $color_accent;
              }
            }
            .menu_secondary_active {
              background: linear-gradient(118deg, #EF8080 0%, #F0145A 100%);
              background-clip: text;
              // только в таком варианте в ХРОМе заработало-----------
              -webkit-text-fill-color: transparent;
              &:hover {
                background: $color_accent;
              background-clip: text;
              }
            }
          }
        }
      }
      
      .inner_menu_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 60px;
        flex: 1 1 54%;
        .menu_content_title {
          @include h2-regular;
          margin-bottom: 30px;
        }
        .menu_content_intro {
          @include text_style_400;
          color: $basic_white;
          font-size: 19px;
          line-height: 157.89%;
        }
      }
    }
  
}