.hero_h {
  display: flex;
  position: relative;
  justify-content: center;
 
  .svg-container {
    position: relative;
    .svg-content {
      width: 100%; 
      height: 100%;

      @media screen and (max-width: 1550px) {
        width: 92%; 
        height: 92%;
        position: relative;
        left: 80px;
        
      }

      @media screen and (max-width: 1440px) {
        width: 82%; 
        height: 82%;
        position: relative;
        left: 80px;
        
      }

      @media screen and (max-width: 1024px) {
        width: 80%; 
        height: 80%;
        position: relative;
        left: 90px;
        
      }
      @media screen and (max-width: 765px) {
        width: 118%; 
        height: 118%;
        position: relative;
        right: 60px;
        
      }
      @media (min-width: 375px) and (max-width: 765px) {
        width: 114%; 
        height: 114%;
        position: relative;
        left: 30px;
      }
      

      @media screen and (max-width: 375px) {
        width: 110%; 
        height: 110%;
        position: relative;
        left: 30px;
        
      }

    

    }
    .svg-scroll {
      position: absolute;
      display: inline-block;
      background-color: transparent;
      color: transparent;
      border: none;
      cursor: pointer;
      left: 50%;
      top: 90%;

      &:hover img {
        content: url("../../../images/header/Scroll-active.svg"); 
      }

      @media screen and (max-width: 1440px) {
        left: 40%;
        top: 90%;
        
      }

      @media screen and (max-width: 1024px) {
        left: 50%;
        top: 90%;
        
      }
      @media screen and (max-width: 765px) {
        left: 50%;
        top: 90%;
        
      }
      @media screen and (max-width: 375px) {
        left: 50%;
        top: 90%;
      }





    }
  }
  .hero_h_title {
    display: flex;
    position: relative;
    justify-content: center;
    top: -50%;
    @include text_style_700;
    font-size: 38px;
    color: $basic_white;


    @media screen and (max-width: 765px) {
      margin: 100px  97px 0 97px;
      text-align: center;
      
    }
  }
}