html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MontserratBold";
  src: url(../../fonts/static/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "MontserratRegular";
  src: url(../../fonts/static/Montserrat-Bold.ttf);
  font-weight: 400;
}
* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.hero {
  background-color: white;
}
.hero .container {
  background-color: var(--gradient-red, linear-gradient(310deg, #F0145A 0%, #693264 100%));
  border-left: 2px solid red;
  border-right: 2px solid red;
}
.hero .container .hero_inner {
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
  padding: 0 160px 0 160px;
}
.hero .container .hero_inner .inner_cards_title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 38px;
  color: var(--gradient-red-text, linear-gradient(118deg, #F0145A 0%, #EF8080 100%));
  text-align: left;
}
.hero .container .hero_inner .inner_servises {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--accent, #F0145A);
  position: relative;
  margin-bottom: 10px;
}
.hero .container .hero_inner .inner_servises::after {
  content: url(../../images/hero-cards/Arrow.svg);
  position: absolute;
  top: 2px;
  width: 12px;
  height: 12px;
  transition: opacity 0.3s ease;
}
.hero .container .hero_inner .inner_servises:hover, .hero .container .hero_inner .inner_servises:hover::after {
  color: orange;
  content: "";
}
.hero .container .hero_inner .hero_inner_cards {
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
}
.hero .container .hero_inner .hero_inner_cards .card {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  background-color: rgb(235, 224, 224);
  margin: 60px 60px 0 0;
}
.hero .container .hero_inner .hero_inner_cards .card:nth-child(3) {
  margin-right: 0;
}
.hero .container .hero_inner .hero_inner_cards .card:nth-child(6) {
  margin-right: 0;
}
.hero .container .hero_inner .hero_inner_cards .card .card_img {
  display: block;
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  background-color: var(--basic-white, #FFF);
}
.hero .container .hero_inner .hero_inner_cards .card .card_img .img_content {
  position: absolute;
  top: 14px;
  left: 14px;
}
.hero .container .hero_inner .hero_inner_cards .card .card_description .cards_title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--active-regular, #24A3FF);
  margin: 30px 0 15px 0;
}
.hero .container .hero_inner .hero_inner_cards .card .card_description .cards_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  color: var(--basic-white, #FFF);
}

@font-face {
  font-family: "_icon";
  src: url("../../fonts/_icon.eot?d96l49");
  src: url("fonts/_icon.eot?d96l49#iefix") format("embedded-opentype"), url("../../fonts/_icon.ttf?d96l49") format("truetype"), url("../../fonts/_icon.woff?d96l49") format("woff"), url("../../fonts/_icon.svg?d96l49#_icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=-icon-]::before [class*=" -icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "_icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.-icon-apple:before {
  content: "\e900";
}

.-icon-css3-alt:before {
  content: "\e901";
}

.-icon-facebook:before {
  content: "\e902";
}

.-icon-github:before {
  content: "\e903";
}

.-icon-google:before {
  content: "\e904";
}

.-icon-html5:before {
  content: "\e905";
}

@font-face {
  font-family: "_arrow";
  src: url("fonts/_arrow.eot?h1arhx");
  src: url("fonts/_arrow.eot?h1arhx#iefix") format("embedded-opentype"), url("/fonts/arrow_fonts/_arrow.ttf") format("truetype"), url("fonts/_arrow.woff?h1arhx") format("woff"), url("fonts/_arrow.svg?h1arhx#_arrow") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "_arrow" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-Arrow1:before {
  content: "\e900";
  color: #f0145a;
}/*# sourceMappingURL=main.css.map */