@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MontserratBold";
  src: url(../../fonts/static/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "MontserratRegular";
  src: url(../../fonts/static/Montserrat-Bold.ttf);
  font-weight: 400;
}
* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
  background-color: #eaeaea;
}

.footer_point_gray {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #B3B3BA;
}

.hero_main .container {
  max-width: 1920px;
  margin: 0 auto;
}
.hero_main .container .bgc {
  background: linear-gradient(235deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  z-index: -10;
}

.hero_header {
  display: block;
  position: relative;
  background-color: transparent;
  z-index: 5;
}
.hero_header--white {
  background-color: white;
  z-index: 0;
}
.hero_header .container_header {
  position: absolute;
  width: 100%;
}
.hero_header .container_header--team_page {
  position: relative;
  width: 100%;
}
.hero_header .container_header .header_inner {
  display: flex;
  padding: 50px 160px 0 160px;
}
.hero_header .container_header .header_inner--team_page {
  display: flex;
  padding: 50px 160px 0 160px;
}
@media screen and (max-width: 1680px) {
  .hero_header .container_header .header_inner {
    padding: 50px 110px 0 110px;
  }
}
@media screen and (max-width: 1440px) {
  .hero_header .container_header .header_inner {
    padding: 50px 60px 0 60px;
  }
}
@media screen and (max-width: 1024px) {
  .hero_header .container_header .header_inner {
    padding: 50px 60px 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .hero_header .container_header .header_inner {
    display: block;
  }
}
@media screen and (max-width: 445px) {
  .hero_header .container_header .header_inner {
    padding: 10px 15px 10px 15px;
  }
}
@media screen and (width: 375px) {
  .hero_header .container_header .header_inner {
    padding: 10px 15px 10px 15px;
  }
}
.hero_header .container_header .header_inner .header_logo {
  display: block;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .hero_header .container_header .header_inner .header_logo {
    position: absolute;
    top: 80px;
  }
}
.hero_header .container_header .header_inner .header_logo .logo_indicator {
  display: flex;
  align-items: center;
}
.hero_header .container_header .header_inner .header_logo .logo_indicator .logo_name {
  margin-bottom: 6.5px;
}
@media screen and (max-width: 650px) {
  .hero_header .container_header .header_inner .header_logo .logo_indicator .logo_name {
    display: block;
    transform: scale(0.6);
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 520px) {
  .hero_header .container_header .header_inner .header_logo .logo_indicator .logo_name {
    margin-right: 160px;
  }
}
@media screen and (max-width: 450px) {
  .hero_header .container_header .header_inner .header_logo .logo_indicator .logo_name {
    margin-right: 0px;
  }
}
.hero_header .container_header .header_inner .header_logo .logo_indicator .slash {
  display: none;
}
.hero_header .container_header .header_inner .header_logo .logo_indicator .slash--team_page {
  display: block;
}
@media screen and (max-width: 450px) {
  .hero_header .container_header .header_inner .header_logo .logo_indicator .slash {
    display: block;
    transform: scale(0.6);
  }
}
.hero_header .container_header .header_inner .header_logo .logo_indicator .page_indicator_services {
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: none;
}
.hero_header .container_header .header_inner .header_logo .logo_indicator .page_indicator_services--team_page {
  display: block;
  color: #323264;
  font-size: 36px;
}
@media screen and (max-width: 450px) {
  .hero_header .container_header .header_inner .header_logo .logo_indicator .page_indicator_services {
    display: block;
    margin-right: calc(10% + 10px);
  }
}
@media screen and (max-width: 450px) {
  .hero_header .container_header .header_inner .header_logo .logo_law {
    display: block;
    transform: scale(0.6);
  }
}
.hero_header .container_header .header_inner .header_info {
  display: block;
  position: relative;
  margin-left: auto;
}
.hero_header .container_header .header_inner .header_info .header_contacts {
  display: inline-flex;
  color: #FFF;
}
.hero_header .container_header .header_inner .header_info .header_contacts--team_page {
  color: #B3B3BA;
}
@media screen and (max-width: 530px) {
  .hero_header .container_header .header_inner .header_info .header_contacts {
    justify-content: space-between;
    width: 100%;
  }
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_lang {
  display: flex;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_lang .lang_active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 25px;
  border-radius: 8px;
  background-color: transparent;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_lang .lang_active:hover {
  background-color: #F0145A;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_lang .lang_active .lang {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_lang .lang_active .lang:not(:last-child) {
  margin-right: 14px;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_date {
  display: flex;
  margin-bottom: 16px;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
@media screen and (max-width: 538px) {
  .hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres .kyiv {
    display: none;
  }
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres .point {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #FFF;
  margin: 0 6px;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres .point--team_page {
  background-color: #B3B3BA;
}
@media screen and (max-width: 538px) {
  .hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres .point {
    display: none;
  }
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres .date_nrphone {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  color: #FFF;
  white-space: nowrap;
  text-decoration: none;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres .date_nrphone--team_page {
  color: #B3B3BA;
}
.hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres .fbwhite:hover {
  cursor: pointer;
}
@media screen and (max-width: 605px) {
  .hero_header .container_header .header_inner .header_info .header_contacts .contacts_date .date_addres .fbwhite {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hero_header .container_header .header_inner .header_info .header_menu {
    display: block;
    position: absolute;
    top: 110px;
  }
}
@media screen and (max-width: 517px) {
  .hero_header .container_header .header_inner .header_info .header_menu {
    display: none;
  }
}
.hero_header .container_header .header_inner .header_info .header_menu ul {
  display: flex;
  justify-content: flex-end;
}
.hero_header .container_header .header_inner .header_info .header_menu ul li:not(:last-child) {
  margin-right: 15px;
}
.hero_header .container_header .header_inner .header_info .header_menu ul li .header_menu_main {
  color: #FFF;
  text-decoration: none;
  white-space: nowrap;
}
.hero_header .container_header .header_inner .header_info .header_menu ul li .header_menu_main--team_page {
  color: #B3B3BA;
}
.hero_header .container_header .header_inner .header_info .header_menu ul li .header_menu_main:hover {
  color: #F0145A;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero_header .container_header .header_inner .header_info .header_menu ul li .header_menu_main--team_page {
  color: #B3B3BA;
  text-decoration: none;
}
.hero_header .container_header .header_inner .header_info .header_menu ul li .header_menu_main--team_page:hover {
  text-decoration: none;
}
.hero_header .container_header .header_inner .header_info .header_menu ul li .header_menu_main--team_page:hover::after {
  content: "";
  display: block;
  height: 2px; /* Толщина линии */
  width: 100%; /* Ширина линии */
  background-color: #F0145A; /* Цвет линии при наведении */
  transform: translateY(4px); /* Отодвигаем линию на 4px вниз */
}

.hero_h {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: -10;
}
.hero_h .svg-container {
  position: relative;
}
.hero_h .svg-container .svg-content {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1550px) {
  .hero_h .svg-container .svg-content {
    width: 92%;
    height: 92%;
    position: relative;
    left: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .hero_h .svg-container .svg-content {
    width: 82%;
    height: 82%;
    position: relative;
    left: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .hero_h .svg-container .svg-content {
    width: 80%;
    height: 80%;
    position: relative;
    left: 40px;
  }
}
@media screen and (max-width: 770px) {
  .hero_h .svg-container .svg-content {
    width: 120%;
    height: 120%;
    position: relative;
    left: -60px;
  }
}
@media (min-width: 380px) and (max-width: 765px) {
  .hero_h .svg-container .svg-content {
    width: 110%;
    height: 110%;
    position: relative;
    left: -30px;
  }
}
@media screen and (max-width: 375px) {
  .hero_h .svg-container .svg-content {
    width: 110%;
    height: 110%;
    position: relative;
    left: 30px;
  }
}
.hero_h .svg-container .svg-scroll {
  position: absolute;
  display: inline-block;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
  left: 50%;
  top: 90%;
}
.hero_h .svg-container .svg-scroll:hover img {
  content: url("../../../images/header/Scroll-active.svg");
}
@media screen and (max-width: 1440px) {
  .hero_h .svg-container .svg-scroll {
    left: 40%;
    top: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .hero_h .svg-container .svg-scroll {
    left: 50%;
    top: 90%;
  }
}
@media screen and (max-width: 765px) {
  .hero_h .svg-container .svg-scroll {
    left: 50%;
    top: 90%;
  }
}
@media screen and (max-width: 375px) {
  .hero_h .svg-container .svg-scroll {
    left: 50%;
    top: 90%;
  }
}
.hero_h .hero_h_title {
  display: flex;
  position: relative;
  justify-content: center;
  top: -50%;
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 38px;
  color: #FFF;
}
@media screen and (max-width: 765px) {
  .hero_h .hero_h_title {
    margin: 100px 97px 0 97px;
    text-align: center;
  }
}

.hero_consis .consist_inner {
  display: flex;
  margin: 0px auto 60px;
  padding: 0 280px;
}
@media screen and (max-width: 1680px) {
  .hero_consis .consist_inner {
    margin: 0px auto 60px;
    padding: 0 180px;
  }
}
@media screen and (max-width: 1440px) {
  .hero_consis .consist_inner {
    margin: 0px auto 60px;
    padding: 0 180px;
  }
}
@media screen and (max-width: 1270px) {
  .hero_consis .consist_inner {
    margin: 0px auto 60px;
    padding: 0 110px;
  }
}
@media screen and (max-width: 1024px) {
  .hero_consis .consist_inner {
    margin: 0px auto 60px;
    padding: 0 60px;
  }
}
@media screen and (max-width: 1020px) {
  .hero_consis .consist_inner {
    margin: 0px auto 0px;
    padding: 0px 60px;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .hero_consis .consist_inner {
    margin: 0px auto 0px;
    padding: 0px 60px;
  }
}
@media screen and (max-width: 650px) {
  .hero_consis .consist_inner {
    padding: 30px;
  }
}
.hero_consis .consist_inner .consist_inner_menu {
  padding-right: 60px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  flex: 1 1 468px;
}
@media screen and (max-width: 1020px) {
  .hero_consis .consist_inner .consist_inner_menu {
    flex: 0 0 auto;
    border-right: none;
  }
}
.hero_consis .consist_inner .consist_inner_menu ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 1020px) {
  .hero_consis .consist_inner .consist_inner_menu ul {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 650px) {
  .hero_consis .consist_inner .consist_inner_menu ul {
    padding: 30px 0;
  }
}
.hero_consis .consist_inner .consist_inner_menu ul li {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 38px;
  white-space: nowrap;
}
.hero_consis .consist_inner .consist_inner_menu ul li:not(:last-child) {
  margin-bottom: 30px;
}
.hero_consis .consist_inner .consist_inner_menu ul li .inner_menu_secondary {
  text-decoration: none;
  color: #B3B3BA;
}
.hero_consis .consist_inner .consist_inner_menu ul li .inner_menu_secondary:hover {
  color: #F0145A;
}
.hero_consis .consist_inner .consist_inner_menu ul li .menu_secondary_active {
  background: linear-gradient(118deg, #EF8080 0%, #F0145A 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_consis .consist_inner .consist_inner_menu ul li .menu_secondary_active:hover {
  background: #F0145A;
  -webkit-background-clip: text;
          background-clip: text;
}
@media screen and (max-width: 1020px) {
  .hero_consis .consist_inner .consist_inner_menu ul li {
    margin-right: 30px;
  }
}
.hero_consis .consist_inner .inner_menu_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  flex: 1 1 753px;
}
.hero_consis .consist_inner .inner_menu_content .menu_content_title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 30px;
  color: #FFF;
  margin-bottom: 30px;
}
.hero_consis .consist_inner .inner_menu_content .menu_content_intro {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  font-size: 19px;
  line-height: 157.89%;
}
@media screen and (max-width: 1020px) {
  .hero_consis .consist_inner .inner_menu_content .menu_content_intro {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1020px) {
  .hero_consis .consist_inner .inner_menu_content {
    flex: 0 0 auto;
    justify-content: flex-start;
    margin-top: 60px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .hero_consis .consist_inner .inner_menu_content {
    padding: 0px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1020px) {
  .consist_inner .consist_inner_menu {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    margin-right: 30px;
    border: none;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 673px) {
  .consist_inner .consist_inner_menu {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }
}
.hero {
  background-color: transparent;
}
.hero .container {
  background-color: linear-gradient(310deg, #F0145A 0%, #693264 100%);
}
.hero .container .hero_inner {
  display: block;
  padding: 0 160px 0 160px;
  background-color: transparent;
}
@media screen and (max-width: 1760px) {
  .hero .container .hero_inner {
    padding: 0 130px 0 130px;
  }
}
@media screen and (max-width: 1600px) {
  .hero .container .hero_inner {
    padding: 0 100px 0 100px;
  }
}
@media screen and (max-width: 1440px) {
  .hero .container .hero_inner {
    padding: 0 60px 0 60px;
  }
}
@media screen and (max-width: 375px) {
  .hero .container .hero_inner {
    padding: 0 30px 0 30px;
  }
}
.hero .container .hero_inner .inner_cards_title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 38px;
  background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
@media screen and (max-width: 1020px) {
  .hero .container .hero_inner .inner_cards_title {
    font-size: 30px;
  }
}
.hero .container .hero_inner .inner_servises {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  position: relative;
  margin-bottom: 10px;
}
.hero .container .hero_inner .inner_servises::after {
  content: url(../../images/hero-cards/Arrow_blue.svg);
  position: absolute;
  top: 1.5px;
  width: 12px;
  height: 12px;
  transition: opacity 0.3s ease;
}
.hero .container .hero_inner .inner_servises:hover {
  color: #F0145A;
  cursor: pointer;
}
.hero .container .hero_inner .inner_servises:hover::after {
  content: url(../../images/hero-cards/Arrow_red.svg);
}
.hero .container .hero_inner .hero_inner_cards {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  align-items: flex-start;
  padding-bottom: 60px;
}
.hero .container .hero_inner .hero_inner_cards .card {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  margin: 60px 60px 0 0;
}
.hero .container .hero_inner .hero_inner_cards .card:nth-child(3n+3) {
  margin-right: 0;
}
@media screen and (max-width: 1321px) {
  .hero .container .hero_inner .hero_inner_cards .card {
    flex: 1 1 25%;
  }
}
@media screen and (max-width: 1022px) {
  .hero .container .hero_inner .hero_inner_cards .card {
    flex: 1 1 30%;
    margin-top: 60px;
  }
  .hero .container .hero_inner .hero_inner_cards .card:nth-child(odd) {
    margin-right: 60px;
  }
  .hero .container .hero_inner .hero_inner_cards .card:nth-child(even) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 670px) {
  .hero .container .hero_inner .hero_inner_cards .card {
    margin-top: 60px;
  }
}
@media screen and (max-width: 550px) {
  .hero .container .hero_inner .hero_inner_cards .card {
    flex: 1 1 auto;
    margin-top: 60px;
  }
  .hero .container .hero_inner .hero_inner_cards .card:nth-child(odd) {
    margin-right: 0px;
  }
}
.hero .container .hero_inner .hero_inner_cards .card .card_img {
  display: flex;
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  padding: 14px;
  background-color: #FFF;
}
.hero .container .hero_inner .hero_inner_cards .card .card_img .img_content {
  display: flex;
  justify-content: center;
}
.hero .container .hero_inner .hero_inner_cards .card .card_description {
  display: flex;
  flex-flow: column;
}
.hero .container .hero_inner .hero_inner_cards .card .card_description .cards_title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  margin: 30px 0 15px 0;
  cursor: pointer;
}
.hero .container .hero_inner .hero_inner_cards .card .card_description .cards_title:hover {
  color: #F0145A;
}
.hero .container .hero_inner .hero_inner_cards .card .card_description .cards_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  color: #FFF;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 520px) {
  .hamburger {
    display: flex;
  }
}

/* Гамбургер иконка */
.menu-btn {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: transparent;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.menu.active {
  transform: translateX(45%);
}

.menu ul li {
  list-style-type: none;
  margin-bottom: 26px;
}
.menu ul li a {
  color: #FFF;
  text-decoration: none;
  white-space: nowrap;
}
.menu ul li a:hover {
  color: #F0145A;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.shadow {
  display: block;
  position: relative;
  width: 99%;
  height: 10px;
  background-color: #CACADB;
  margin: 0 auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.shadow::after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  width: 99%;
  height: 10px;
  background-color: #E7E7F2;
  margin: 0 auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 auto;
}

.team {
  display: block;
  background-color: #FFF;
}
.team .team_start_undershadow {
  display: block;
  height: 60px;
  background-color: #FFF;
}
.team .team_inner {
  background-color: inherit;
  padding: 0 160px 0 160px;
}
@media screen and (max-width: 1760px) {
  .team .team_inner {
    padding: 0 130px 0 130px;
  }
}
@media screen and (max-width: 1600px) {
  .team .team_inner {
    padding: 0 100px 0 100px;
  }
}
@media screen and (max-width: 1440px) {
  .team .team_inner {
    padding: 0 60px 0 60px;
  }
}
@media screen and (max-width: 375px) {
  .team .team_inner {
    padding: 0 30px 0 30px;
  }
}
.team .team_inner .team_card {
  display: flex;
}
@media screen and (max-width: 1022px) {
  .team .team_inner .team_card {
    flex-direction: column;
  }
}
.team .team_inner .team_card .team_card_img_one {
  display: flex;
  background-image: url("../../../images/team/portret1920.svg");
  width: 400px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  flex: 1 0 400px;
}
@media screen and (max-width: 1110px) {
  .team .team_inner .team_card .team_card_img_one {
    background-image: url("../../../images/team/portret1024.svg");
    background-position: center center;
  }
}
@media screen and (max-width: 1022px) {
  .team .team_inner .team_card .team_card_img_one {
    background-image: url("../../../images/team/portret768.svg");
    background-position: center center;
    width: 100%;
    background-size: cover;
    flex: 1 0 500px;
  }
}
@media screen and (max-width: 555px) {
  .team .team_inner .team_card .team_card_img_one {
    background-image: url("../../../images/team/portret375.svg");
    background-position: center center;
    width: 100%;
    background-size: cover;
    flex: 1 0 500px;
  }
}
.team .team_inner .team_card .team_content {
  padding: 30px;
  background-color: #EDEDF7;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  flex: 1 1 auto;
}
.team .team_inner .team_card .team_content .team_link {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  position: relative;
  text-decoration: none;
}
.team .team_inner .team_card .team_content .team_link::after {
  content: url(../../images/hero-cards/Arrow_blue.svg);
  position: absolute;
  top: 1.5px;
  width: 12px;
  height: 12px;
  transition: opacity 0.3s ease;
}
.team .team_inner .team_card .team_content .team_link:hover {
  color: #F0145A;
  cursor: pointer;
}
.team .team_inner .team_card .team_content .team_link:hover::after {
  content: url(../../images/hero-cards/Arrow_red.svg);
}
.team .team_inner .team_card .team_content .team_title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 38px;
  background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  padding-bottom: 30px;
}
.team .team_inner .team_card .team_content .team_subskribe {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 16px;
  color: #B3B3BA;
  padding-bottom: 6px;
}
.team .team_inner .team_card .team_content .team_state {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157.143%;
  color: #B3B3BA;
}

.blue_points {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFF;
  padding: 30px 0 0 0;
}
.blue_points .blue_points_drei {
  display: flex;
  padding-bottom: 60px;
}
.blue_points .blue_points_drei .points {
  display: flex;
  flex-direction: row;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #24A3FF;
}
.blue_points .blue_points_drei .points:nth-child(n+2) {
  background-color: #b4dcf8;
  margin-left: 15px;
}

.firms_inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #FFF;
  padding: 0 100px 0px 100px;
}
@media screen and (max-width: 1680px) {
  .firms_inner {
    padding: 0 50px 60px 50px;
  }
}
@media screen and (max-width: 1440px) {
  .firms_inner {
    padding: 0px 0px 60px 0px;
  }
}
.firms_inner .points_trust {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin: 0 auto 30px auto;
}
.firms_inner .firms_table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  border-radius: 14px;
  margin-top: 30px;
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
}
.firms_inner .firms_table .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  flex: 1 1 350px;
}
@media screen and (max-width: 1520px) {
  .firms_inner .firms_table .box {
    flex: 1 1 310px;
  }
}
@media screen and (max-width: 1244px) {
  .firms_inner .firms_table .box {
    flex: 1 1 280px;
  }
}
@media screen and (max-width: 1130px) {
  .firms_inner .firms_table .box {
    flex: 1 1 250px;
  }
}
@media screen and (max-width: 750px) {
  .firms_inner .firms_table .box {
    flex: 1 1 380px;
  }
  .firms_inner .firms_table .box:nth-child(1n+7) {
    display: none;
  }
}
.firms_inner .firms_table .hillel {
  background-color: #1C4280;
}
.firms_inner .firms_table .wannabiz {
  background-color: #143646;
}
.firms_inner .firms_table .tapgerine {
  background-color: #F48B30;
}
.firms_inner .firms_table .dlook {
  background-color: #9E4DC3;
}
.firms_inner .firms_table .arangear {
  background-color: #FD9339;
}
.firms_inner .firms_table .adtelligent {
  background-color: #E2E2E4;
}
.firms_inner .firms_table .clickky {
  background-color: #C71C36;
}
.firms_inner .firms_table .leasing {
  background-color: #DCF3F9;
}
.firms_inner .firms_table .infratec {
  background-color: #EAEAEA;
}
.firms_inner .firms_table .city-park {
  background-color: #282240;
}
.firms_inner .firms_table .artprint {
  background-color: #1D4568;
}
.firms_inner .firms_table .ultimate {
  background-color: #000;
}

.public {
  background-color: #F5F5FA;
}
.public .container .public_inner {
  background-color: #FFF;
  padding: 30px 160px 0 160px;
}
@media screen and (max-width: 1680px) {
  .public .container .public_inner {
    padding: 30px 90px 0 90px;
  }
}
@media screen and (max-width: 1440px) {
  .public .container .public_inner {
    padding: 30px 60px 0 60px;
  }
}
@media screen and (max-width: 380px) {
  .public .container .public_inner {
    padding: 30px 30px 0 30px;
  }
}
.public .container .public_inner .public_link {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  position: relative;
  margin-bottom: 10px;
  padding-top: 30px;
  cursor: pointer;
}
.public .container .public_inner .public_link::after {
  padding-top: 30px;
  content: url(../../images/hero-cards/Arrow_blue.svg);
  position: absolute;
  top: 1.5px;
  width: 12px;
  height: 12px;
  transition: opacity 0.3s ease;
}
.public .container .public_inner .public_link:hover {
  color: #F0145A;
}
.public .container .public_inner .public_link:hover::after {
  content: url(../../images/hero-cards/Arrow_red.svg);
}
.public .container .public_inner .public_title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 38px;
  background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  padding-bottom: 30px;
}
.public .container .public_inner .public_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 920px) {
  .public .container .public_inner .public_cards {
    justify-content: center;
  }
}
.public .container .public_inner .public_cards .card {
  display: flex;
  flex-wrap: wrap;
  max-width: 648px;
  flex: 1 1 250px;
}
.public .container .public_inner .public_cards .card:not(:last-child) {
  margin-right: 30px;
}
@media screen and (max-width: 900px) {
  .public .container .public_inner .public_cards .card:not(:last-child):not(:first-child) {
    margin-right: 0px;
  }
}
.public .container .public_inner .public_cards .card .card_img {
  display: flex;
  height: 200px;
  flex: 1 1 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.public .container .public_inner .public_cards .card .card-img-top1 {
  background-image: url("../../../images/bottom_cards/1_bottom_cards.png");
}
.public .container .public_inner .public_cards .card .card-img-top2 {
  background-image: url("../../../images/bottom_cards/2Cover.png");
}
.public .container .public_inner .public_cards .card .card-img-top3 {
  background-image: url("../../../images/bottom_cards/3Cover.png");
}
.public .container .public_inner .public_cards .card .card-body {
  padding: 30px;
  background-color: #FFF;
}
.public .container .public_inner .public_cards .card .card-body .card-title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 16px;
  font-size: 16px;
  color: #24A3FF;
  cursor: pointer;
}
.public .container .public_inner .public_cards .card .card-body .card-title:hover {
  color: #F0145A;
}
.public .container .public_inner .public_cards .card .card-body .card-data {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin: 15px 0;
}
.public .container .public_inner .public_cards .card .card-body .line {
  width: 100%;
  background-color: #E6E6F0;
  height: 4px;
  margin-bottom: 15px;
}
.public .container .public_inner .public_cards .card .card-body .card-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157.143%;
  color: #000;
}

.footer {
  background-color: #F5F5FA;
}
.footer .container .footer_inner {
  padding: 30px 160px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
@media screen and (max-width: 1680px) {
  .footer .container .footer_inner {
    padding: 30px 90px;
  }
}
@media screen and (max-width: 1440px) {
  .footer .container .footer_inner {
    padding: 30px 60px;
  }
}
@media screen and (max-width: 560px) {
  .footer .container .footer_inner {
    padding: 30px 30px;
  }
}
.footer .container .footer_inner .footer_adres {
  display: flex;
  width: 100%;
  padding-top: 30px;
  border-top: 2px solid #E6E6F0;
  flex-flow: row wrap;
}
@media screen and (max-width: 700px) {
  .footer .container .footer_inner .footer_adres {
    justify-content: center;
  }
}
.footer .container .footer_inner .footer_adres .footer_adres_onmap {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin-bottom: 21px;
}
@media screen and (max-width: 700px) {
  .footer .container .footer_inner .footer_adres .footer_adres_onmap {
    justify-content: center;
  }
}
@media screen and (max-width: 470px) {
  .footer .container .footer_inner .footer_adres .footer_adres_onmap {
    flex-direction: column;
  }
}
.footer .container .footer_inner .footer_adres .footer_adres_onmap .adres {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  color: #323264;
  margin-right: 10px;
}
.footer .container .footer_inner .footer_adres .footer_adres_onmap .link {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: #24A3FF;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 470px) {
  .footer .container .footer_inner .footer_adres .footer_adres_onmap .link {
    margin-top: 10px;
  }
}
.footer .container .footer_inner .footer_adres .footer_adres_fbtel {
  margin-top: 0px;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 700px) {
  .footer .container .footer_inner .footer_adres .footer_adres_fbtel {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .footer .container .footer_inner .footer_adres .footer_adres_fbtel {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}
.footer .container .footer_inner .footer_adres .footer_adres_fbtel .fb_blue {
  margin-right: 10px;
}
.footer .container .footer_inner .footer_adres .footer_adres_fbtel .fb_blue:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .footer .container .footer_inner .footer_adres .footer_adres_fbtel .fb_blue {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
.footer .container .footer_inner .footer_adres .footer_adres_fbtel .tel {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  margin: 0 10px;
  color: #46466E;
  text-decoration: none;
}
.footer .container .footer_inner .footer_adres .footer_adres_fbtel .mail {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 16px;
  color: #24A3FF;
  margin-left: 10px;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .footer .container .footer_inner .footer_adres .footer_adres_fbtel .mail {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.footer .container .footer_inner .footer_adres .footer_legal {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
}
@media screen and (max-width: 1410px) {
  .footer .container .footer_inner .footer_adres .footer_legal {
    flex: 1 5 auto;
  }
}
@media screen and (max-width: 700px) {
  .footer .container .footer_inner .footer_adres .footer_legal {
    order: 3;
  }
}
.footer .container .footer_inner .footer_adres .footer_legal p {
  white-space: nowrap;
  color: #B3B3BA;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0px;
  margin-left: auto;
}
@media screen and (max-width: 950px) {
  .footer .container .footer_inner .footer_adres .footer_legal p {
    margin-right: 0px;
    margin-left: auto;
  }
}
@media screen and (max-width: 700px) {
  .footer .container .footer_inner .footer_adres .footer_legal p {
    margin: 0px auto;
    margin-top: 30px;
  }
}

.footer_box {
  flex: 1 1 950px;
}
@media screen and (max-width: 760px) {
  .footer_box {
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 700px) {
  .footer_point_gray {
    display: none;
  }
}

.team_page_white_space {
  width: 100%;
  height: 60px;
  background-color: #FFF;
}

.section_team_main {
  background-color: #FFF;
}
@media screen and (max-width: 1670px) {
  .section_team_main .container .team_main_inner {
    padding: 0 60px;
  }
}
.section_team_main .container .team_main_inner .team_main_title {
  display: flex;
  margin: 0 auto;
  text-align: left;
  padding: 0 280px;
}
@media screen and (max-width: 1600px) {
  .section_team_main .container .team_main_inner .team_main_title {
    padding: 60px 260px;
  }
}
@media screen and (max-width: 1440px) {
  .section_team_main .container .team_main_inner .team_main_title {
    padding: 60px 180px;
  }
}
@media screen and (max-width: 1350px) {
  .section_team_main .container .team_main_inner .team_main_title {
    padding: 60px 180px;
  }
}
@media screen and (max-width: 1024px) {
  .section_team_main .container .team_main_inner .team_main_title {
    padding: 60px 180px;
  }
}
@media screen and (max-width: 920px) {
  .section_team_main .container .team_main_inner .team_main_title {
    padding: 60px 90px;
  }
}
@media screen and (max-width: 768px) {
  .section_team_main .container .team_main_inner .team_main_title {
    padding: 60px 60px;
  }
}
@media screen and (max-width: 350px) {
  .section_team_main .container .team_main_inner .team_main_title {
    padding: 30px 30px;
  }
}
.section_team_main .container .team_main_inner .team_main_title .main_title_prima {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 38px;
  background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 350px) {
  .section_team_main .container .team_main_inner .team_main_title .main_title_prima {
    font-size: 30px;
  }
}
.section_team_main .container .team_main_inner .team_main_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
.section_team_main .container .team_main_inner .team_main_cards .team_card {
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 calc(33.33% - 60px);
  max-width: 493px;
}
@media (max-width: 920px) {
  .section_team_main .container .team_main_inner .team_main_cards .team_card {
    flex: 1 0 calc(50% - 60px);
  }
}
@media (max-width: 768px) {
  .section_team_main .container .team_main_inner .team_main_cards .team_card {
    flex: 1 0 calc(50% - 60px);
  }
}
@media (max-width: 375px) {
  .section_team_main .container .team_main_inner .team_main_cards .team_card {
    flex: 1 0 100%;
  }
}
.section_team_main .container .team_main_inner .team_main_cards .team_card picture {
  max-width: 493px;
  height: 400px;
}
.section_team_main .container .team_main_inner .team_main_cards .team_card picture img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_team_main .container .team_main_inner .team_main_cards .team_card .card_text {
  display: flex;
  justify-content: space-between; /* Распределение по краям */
  align-items: center; /* Выравнивание по вертикали */
}
.section_team_main .container .team_main_inner .team_main_cards .team_card .card_text .team_card_info {
  display: flex;
  flex-direction: column;
}
.section_team_main .container .team_main_inner .team_main_cards .team_card .card_text .team_card_info .team_card_name {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #323264;
}
.section_team_main .container .team_main_inner .team_main_cards .team_card .card_text .team_card_info .team_card_name:hover {
  color: #F0145A;
}
.section_team_main .container .team_main_inner .team_main_cards .team_card .card_text .team_card_info .statment {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  color: #B3B3BA;
}
.section_team_main .container .team_main_inner .team_main_cards .team_card .card_text .team_card_arrow {
  margin-left: auto;
}
.section_team_main .container .team_main_inner .team_main_cards .team_card .card_text .team_card_arrow:hover {
  cursor: pointer;
  content: url("../../../images/team_page/arrow_red_active.svg");
}/*# sourceMappingURL=main.css.map */